apiVersion: v1
kind: Pod
metadata:
  name: test-pod
  namespace: default
spec:
  containers:
  - name: network-generator
    image: busybox:latest
    command:
    - sh
    - -c
    - |
      while true; do
        ping -c 5 8.8.8.8
        sleep 2
      done
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
